body, .ow, .base_sign_in{background-color:#ffffff}
body, .ow, .base_sign_in{background-color:#ffffff}
body, .ow, .base_sign_in{background-color:#ffffff}
body, .ow, .base_sign_in{background-color:#ffffff}
.index_master_page_wrap{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_1.jpg)}
.index_master_page_wrap{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_1.jpg)}
.index_master_page_wrap{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_1.jpg)}
.index_master_page_wrap{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_1.jpg)}
.index_master_page .ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_2.png)}
.index_master_page .ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_2.png)}
.index_master_page .ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_2.png)}
.index_master_page .ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_2.png)}
.ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_3.png)}
.ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_3.png)}
.ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_3.png)}
.ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_3.png)}
