body, .ow, .base_sign_in{background-color:#ffffff}
.index_master_page_wrap{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_21.jpg)}
.ow_header{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_20.png)}
.index_master_page .ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_17.png)}
.ow_header_pic{background-image:url(http://localhost/loov/ow_userfiles/themes/theme_image_18.png)}
