<div class="single-gallery">
    <div class="col-sm-10 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-2">
                <div class="gallery-panel">
                    <div class="gallery-top">
                        <img alt="" src="images/glry-1.jpg">
                        <a class="bell" href="javascript: void(0)"><i class="fa fa-bell-o"></i> <span>3</span></a>
                    </div>
                    <div class="glry-btm">
                        <h3>Subhajit Podder</h3>
                        <div>
                            <span style="width: 45px;">Age:</span>
                            <span>24</span>
                        </div>
                        <div>
                            <span style="width: 45px;">From    :</span>
                            <span>Rochester, NY</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="gallery-panel">
                    <div class="gallery-top">
                        <img alt="" src="images/glry-2.jpg">
                        <a class="bell" href="javascript: void(0)"><i class="fa fa-bell-o"></i> <span>3</span></a>
                    </div>
                    <div class="glry-btm">
                        <h3>Subhajit Podder</h3>
                        <div>
                            <span style="width: 45px;">Age:</span>
                            <span>24</span>
                        </div>
                        <div>
                            <span style="width: 45px;">From    :</span>
                            <span>Rochester, NY</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="gallery-panel">
                    <div class="gallery-top">
                        <img alt="" src="images/glry-3.jpg">
                        <a class="bell" href="javascript: void(0)"><i class="fa fa-bell-o"></i> <span>3</span></a>
                    </div>
                    <div class="glry-btm">
                        <h3>Subhajit Podder</h3>
                        <div>
                            <span style="width: 45px;">Age:</span>
                            <span>24</span>
                        </div>
                        <div>
                            <span style="width: 45px;">From    :</span>
                            <span>Rochester, NY</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="gallery-panel">
                    <div class="gallery-top">
                        <img alt="" src="images/glry-4.jpg">
                        <a class="bell" href="javascript: void(0)"><i class="fa fa-bell-o"></i> <span>3</span></a>
                    </div>
                    <div class="glry-btm">
                        <h3>Subhajit Podder</h3>
                        <div>
                            <span style="width: 45px;">Age:</span>
                            <span>24</span>
                        </div>
                        <div>
                            <span style="width: 45px;">From    :</span>
                            <span>Rochester, NY</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="gallery-panel">
                    <div class="gallery-top">
                        <img alt="" src="images/glry-5.jpg">
                        <a class="bell" href="javascript: void(0)"><i class="fa fa-bell-o"></i> <span>3</span></a>
                    </div>
                    <div class="glry-btm">
                        <h3>Subhajit Podder</h3>
                        <div>
                            <span style="width: 45px;">Age:</span>
                            <span>24</span>
                        </div>
                        <div>
                            <span style="width: 45px;">From    :</span>
                            <span>Rochester, NY</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>